@import "~bootstrap/scss/bootstrap.scss";
body {
    background: url("https://img.freepik.com/free-vector/halftone-dots-white-background-gray-dots-halftone-texture_47243-1127.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 20%;
    padding: 10;
    box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19),
        0 1px 1px rgba(0,0,0,0.15),
        0 10px 0 -5px white,
        0 10px 1px -4px rgba(0,0,0,0.15),
        0 20px 0 -10px white,
        0 20px 1px -9px rgba(0,0,0,0.15);
}

h1{
    color:gray;
    padding-bottom: 40px;
    padding-top: 30px;
}

.repeating{
    position: relative;
    margin: 0 auto;
    padding: 5px;
    width: auto;
    height: auto;
}

input{
    border: none;
}

li {
    padding-top: 20px;
    padding-left: 30px;
    background-color: white;  
    height: 75px;
    font-size: 22px;
    color: gray;
}

ul {
    list-style: none;
    margin: auto;
    padding: 0%;
    color: gray;
}

button {
    float:right;
    padding-right: 25px;
    border: none;
    background: none;
    color: gray;
}

span {
    float: right;
}

.counter {
    background-color: white;
    color: gray;
}



